
.header {
    grid-area: header;
  }

  .sidebar {
    grid-area: sidebar;

  }
a {
  font-family: 'Dancing Script', cursive;
  text-decoration: none;
  color: purple;
}
.link:hover{
  background: pink;
  text-decoration: underline
}
  .work {
    grid-area: work;
  }

.myImg {
  float: right;
}

strong {
  color: blue;
  font-family: 'Indie Flower', cursive;

}
.container {
  max-width: 1080px;
  margin: auto;
    display: grid;
    /* grid-template-columns: 20px auto 20px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    /* grid-template-rows: repeat(3, 200px); */
    grid-column-gap: 10px;
    grid-row-gap: 15px;

    grid-template-areas:
    "header header header"
    "work work sidebar"

}
